@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html,
body {
  font-family: 'Ubuntu', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


/* TREATMENTS */
.hover-overlay-container {
  position: relative;
}
.hover-overlay-container:hover .overlay-image {
  opacity: 0.3;
}
.hover-overlay-container:hover .overlay-btn-container {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
.hover-overlay-container .overlay-image {
  display: block;
  width: 100%;
  height: 600px;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
  filter: grayscale(70%);
}
.hover-overlay-container .overlay-btn-container {
  position: absolute;
  top: 40%;
  left: 25%;
  opacity: 0;
  transition: .5s ease;
  text-align: center;
  overflow: hidden;
  transform: scaleY(0);
  transform-origin: bottom;
  
}
.hover-overlay-container .sbt{
  position: absolute;
  top: 50%;
  left: 30%;
  opacity: 1;
  transition: .5s ease;
  text-align: center;
  transform: scaleY(1);
  transform-origin: bottom;
  
}
.hover-overlay-container:hover .sbt{
  transform: translateY(-300%);
}
.overlay-btn-container:hover{
  transform: translate(-50%, -50%) scale(1.5);
}
.hover-overlay-container .overlay-btn-container a {
  color: black;
  font-size: 16px;
  padding: 10px 16px;
  text-decoration: none;
  list-style-type: none;
  line-height: 15px;
}
/* TREATMENTS */



/* SWIPER */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* SWIPER */